

@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');

body{
   
    color: rgb(0, 0, 0);
    font-family: 'Koh Santepheap', cursive;
    margin: 20px;

}

.video{text-align: center;}
h1{text-align: center;
background-color: rgb(193, 217, 224);}
h2{background-color: rgb(193, 217, 224);}

table{
    width: 100%;
}
td{
    width: 10%;
    border: 1px solid #000;
    border-color: rgb(151, 192, 204) ;
    border-spacing: 0;
    padding: 0.3em;
    text-align: center;
}
.tabla{
    background-color: rgb(193, 217, 224);
}
.peli{
    background-color:rgb(151, 192, 204) ;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
